/* font-family: 'Rubik', sans-serif; */
/* font-family: 'Gentium Basic', serif; */
/* font-family: 'Cabin Condensed', sans-serif; */

.header-1 {
  font-family: 'Source Serif Pro', serif;
  font-weight: 700;
  font-size: 62px;
  color: #383b3f;
}

.icon-grey {
  color: #383b3f;
}

.sub-header {
  font-family: 'Nunito Sans', sans-serif;
}

p {
  font-family: 'Rubik', sans-serif;
}

